<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Información de Usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>ID: <span id="idUsuario"></span></p>
            <p>Nombre: <span id="nombreUsuario"></span></p>
            <p>Email: <span id="emailUsuario"></span></p>
            <p id="cedulaContainer">Cédula: <span id="cedulaUsuario"></span></p>
            <p>Nickname: <span id="nicknameUsuario"></span></p>
            <p>Estado: <span id="statusUsuario"></span></p>
            <p id="rifContainer">RIF: <span id="rifUsuario"></span></p>
            <p>Tipo de Usuario: <span id="discriminatorUsuario"></span></p>
            <!-- Otros detalles del usuario -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var discriminator = $("#discriminatorUsuario").text();

            if (discriminator === "PrestadorServicioEntity") {
                $("#cedulaContainer").hide();
            } else if (discriminator === "ConsumidorEntity") {
                $("#rifContainer").hide();
            }
        });
    </script>
}
