@{
    ViewData["Title"] = "Upload CSV";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<h1>Upload CSV</h1>


@using (Html.BeginForm("EnviarArchivoConciliacion", "Prestador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" />
    <input type="submit" value="Enviar archivo" />
}
